@import url(https://fonts.googleapis.com/css?family=Anaheim);
header{
    background-color: #e8dbd3;
    margin-right: 100px;
    margin-left: 100px;
}
.titulo{
    font: 100 3em/1 fantasy;
    color: #75474a !important;
    font-size: 30px;
}
body {
    font-family: tahoma;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
  
.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
}
  
.our-team .image {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}
  
.our-team .image::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #e6bcb5;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}
  
.our-team:hover .image::before {
    height: 100%;
}
  
.our-team .image::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #e6bcb5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
  
.our-team .image img {
    width: 100%;
    height: 150px;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
  
.our-team:hover .image img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
  
.our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}
  
.our-team .sociales {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #e6bcb5;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}
  
.our-team:hover .sociales {
    bottom: 0;
}
  
.our-team .sociales li {
    display: inline-block;
}
  
.our-team .sociales li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
  
.our-team .sociales li a:hover {
    color: #e6bcb5;
    background-color: #f7f5ec;
}

/* separador */
.jumbotron {
	background: #e8dbd3;
	color: #75474a;
	text-align: center;
    margin-left: 55px;
    margin-right: 65px;
}
.jumbotron p {
	color: #856965;
	font-size: 20px;
    text-transform: uppercase;
}
.headline {
    font: 100 3em/1 fantasy;
    color: #75474a !important;
    font-size: 40px;
}

/* form */
@import url(https://fonts.googleapis.com/css?family=Teko:400,700);
@import url(https://fonts.googleapis.com/css?family=Oleo+Script:400,700);

.content-header{
    font-family: 'Oleo Script', cursive;
    color:#75474a;
    font-size: 45px;
}
  
.section-content{
    text-align: center; 
  
}
#contact{ 
    font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 50%;
    width: 90vw;
    height: 550px;
    background: #e8dbd3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #e8dbd3 , #e6bcb5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #e8dbd3 , #e6bcb5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;  
    margin-bottom: 50px;
    margin-left: 55px;
    border: #856965 solid 2px;
}
.contact-section{
    padding-top: 40px;
}
.contact-section .col-md-6{
    width: 50%;
}
  
.form-line{
    border-right: 1px solid #B29999;
}
.form-group{
    margin-top: 10px;
}
label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}
.form-control{
    font-size: 1.3em;
    color: #080808;
}
textarea.form-control {
    height: 135px;
}
.submit{
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
}
  
  