<header class="text-center py-5 mb-4">
    <div class="container">
      <h1 class="titulo">Conoce a nuestro equipo</h1>
    </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="image">
          <img class="img-fluid" src="https://i.pinimg.com/564x/2f/57/8d/2f578d07945132849b05fbdaf78cba38.jpg">
        </div>
        <div class="team-content">
          <h3 class="nombre">Jonathan Ricks</h3>
          <h4 class="title">CEO <br> Contacto: 023641223 <br> Email: JohnSerins@gmail.com</h4>
        </div>
        <ul class="sociales">
          <li><a href="https://es-la.facebook.com/people/Jonathan/100077740244175/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="image">
          <img class="img-fluid" src="https://i.pinimg.com/564x/e7/61/d8/e761d858832d4368d0ee0cd91aa62cdf.jpg">
        </div>
        <div class="team-content">
          <h3 class="nombre">Jason Smith</h3>
          <h4 class="title">Co-Funder <br> Contacto: 023547854 <br> Email: JasonSerins@gmail.com</h4>
        </div>
        <ul class="sociales">
          <li><a href="https://es-la.facebook.com/people/Jason-Jason/100078302517529/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://twitter.com/Jason?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="image">
          <img class="img-fluid" src="https://i.pinimg.com/564x/23/19/c3/2319c3759928f5215508bbef39af1d07.jpg">
        </div>
        <div class="team-content">
          <h3 class="nombre">Jackson Doe</h3>
          <h4 class="title">Técnico Superior en Redes Informáticas <br> Se unió en: 09/11/2015 <br> Email: Doe_jjackson@gmail.com</h4>
        </div>
        <ul class="sociales">
          <li><a href="https://es-la.facebook.com/JacksonNational/photos/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://twitter.com/GiorgioJackson?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="image">
          <img class="img-fluid" src="https://i.pinimg.com/564x/52/b9/ab/52b9ab3ec7c5fe227c41a6509a7a9e6b.jpg">
        </div>
        <div class="team-content">
          <h3 class="nombre">Kelly Valentine</h3>
          <h4 class="title">Técnica Superior en Redes Informáticas <br> Se unió en: 29/08/2015 <br> Email: Valentine12@gmail.com</h4>
        </div>
        <ul class="sociales">
          <li><a href="https://es-la.facebook.com/people/Kelly/100076674616370/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://twitter.com/josefinakn?lang=es" class="fa fa-twitter" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="image">
          <img class="img-fluid" src="https://i.pinimg.com/564x/9b/01/9a/9b019a924f7da507e61f03629c77d125.jpg">
        </div>
        <div class="team-content">
          <h3 class="nombre">Philippe Torner</h3>
          <h4 class="title">Especialista en Ciberseguridad <br> Se unió en: 30/10/2016 <br> Email: Phil776@gmail.com</h4>
        </div>
        <ul class="sociales">
          <li><a href="https://es-la.facebook.com/people/Philippe-Duchesne/100080081254826/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://twitter.com/PhilippeGilbert?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="image">
          <img class="img-fluid" src="https://i.pinimg.com/564x/96/68/25/966825b219483f4312d35882a1f94593.jpg">
        </div>
        <div class="team-content">
          <h3 class="nombre">Hailey Roberts</h3>
          <h4 class="title">Especialista en Redes <br> Se unió en: 20/05/2016 <br> Email: RbHailey@gmail.com</h4>
        </div>
        <ul class="sociales">
          <li><a href="https://es-la.facebook.com/xexoxee" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://twitter.com/haileysoutfits?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="image">
          <img class="img-fluid" src="https://i.pinimg.com/564x/fa/fe/b9/fafeb92850ae402d81cff86d1c1b70ff.jpg">
        </div>
        <div class="team-content">
          <h3 class="nombre">Edmund Harker</h3>
          <h4 class="title">Especialista en Redes <br> Se unió en: 04/12/2014 <br> Email: Ed2011H@gmail.com</h4>
        </div>
        <ul class="sociales">
          <li><a href="https://es-la.facebook.com/edmund.edmund.7731247" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://twitter.com/edmundmcmillen?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="image">
          <img class="img-fluid" src="https://i.pinimg.com/564x/c5/dc/31/c5dc31742d8f7cfe37ca62bb7a9d4235.jpg">
        </div>
        <div class="team-content">
          <h3 class="nombre">Lucy Westenra</h3>
          <h4 class="title">Profesional de Seguridad <br> Se unió en: 11/07/2017 <br> Email: West-enraLucy@gmail.com</h4>
        </div>
        <ul class="sociales">
          <li><a href="https://es-la.facebook.com/people/Lucy/100077332931276/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://twitter.com/lucyhatercoom?lang=es" class="fa fa-twitter" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- separador -->
<div class="jumbotron">
  <div class="container">
    <h2 class="headline">¿Quieres formar parte de nuestro equipo?</h2>
    <p>¡Te esperamos! <br>Sòlo debes llenar el siguiente formulario</p>
  </div>
</div>
<!--form-->
<section id="contact">
	<div class="section-content">
		<h1 class="section-header"><span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s">Trabaja con nosotros</span></h1>
		<h3>Sólo sige estos simples pasos</h3>
	</div>
	<div class="contact-section">
		<div class="container">
		  <form>
			  <div class="col-md-6 form-line">
			    <div class="form-group">
			  	  <label for="exampleInputUsername" class="fs-2">Nombre y Apellido</label>
					  <input type="text" class="form-control" id="" placeholder="Ingresa tu nombre y apellido">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail" class="fs-2">Email</label>
					  <input type="email" class="form-control" id="exampleInputEmail" placeholder="Ingresa tu email">
				  </div>	
				  <div class="form-group">
					  <label for="telephone" class="fs-2">Número telefónico</label>
					  <input type="tel" class="form-control" id="telephone" placeholder="+54 9 299">
			    </div>
          <div class="form-group">
            <label for="exampleInputlocal" class="fs-2">Localidad</label>
            <input type="text" class="form-control" id="exampleInputlocal" placeholder="Ingresa tu localidad">
          </div>
			  </div>
			  <div class="col-md-6">
			    <div class="form-group">
			      <label for ="description" class="fs-2">Experiencia laboral y otros datos</label>
			  	  <textarea  class="form-control" id="description" placeholder="Ingresa los datos"></textarea>
			    </div>
			    <div>
            <button type="button" class="btn btn-default submit fs-2"><i class="fa fa-paper-plane" aria-hidden="true"></i>Enviar</button>
			    </div>		
			  </div>
		  </form>
    </div>
	</div>
</section>
