<div class="bg">
    <div class="card-info">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Conjunto butterfly</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/conjuntos/conjunto1.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$2400</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText1}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="S">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Negro</mat-option>
                            <mat-option value="option3">Rosado</mat-option>
                            <mat-option value="option3">Rojo</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Conjunto lily</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/conjuntos/conjunto2.jpeg" height="350px">
                    <mat-card-subtitle>
                        <h4>$2700</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText2}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="M">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option3">Violeta</mat-option>
                            <mat-option value="option3">Celeste</mat-option>
                            <mat-option value="option3" disabled>Rosado</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Conjunto Angela</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/conjuntos/conjunto3.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$2690</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText3}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="S">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Blanco</mat-option>
                            <mat-option value="option3">Rosado</mat-option>
                            <mat-option value="option3">Violeta</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Conjunto Mia</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/conjuntos/conjunto4.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$2700</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText4}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="S">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Rosado</mat-option>
                            <mat-option value="option3">Lila</mat-option>
                            <mat-option value="option3" disabled>Celeste</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Conjunto Mara</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/conjuntos/conjunto5.jpeg" height="350px">
                    <mat-card-subtitle>
                        <h4>$3190</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText5}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="M">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Mostaza</mat-option>
                            <mat-option value="option3">Bordó</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Conjunto Elly</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/conjuntos/conjunto6.jpeg" height="350px">
                    <mat-card-subtitle>
                        <h4>$3190</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText6}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="Talle único (L)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Negro</mat-option>
                            <mat-option value="option1">Celeste</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Conjunto Adela</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/conjuntos/conjunto7.jpeg" height="350px">
                    <mat-card-subtitle>
                        <h4>$3290</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText7}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="S">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Rosado</mat-option>
                            <mat-option value="option1">Lila</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Conjunto Luna</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/conjuntos/conjunto8.jpeg" height="350px">
                    <mat-card-subtitle>
                        <h4>$2500</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText8}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="Talle único (L)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Negro</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Conjunto Julia</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/conjuntos/conjunto9.jpeg" height="350px">
                    <mat-card-subtitle>
                        <h4>$2500</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText9}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="Talle único (L)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Verde</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
        </div>
    </div>
</div>
