<div class="bg">
    <div class="card-info">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Sweater Lara</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/fw/invierno1.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$1200</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText1}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="Talle único (M)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Negro</mat-option>
                            <mat-option value="option3">Rosa</mat-option>
                            <mat-option value="option3">Marrón</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Jardinero Molly</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/fw/invierno2.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$1490</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText2}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="38">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option3">Negro</mat-option>
                            <mat-option value="option3">Blanco</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Remera Nelly</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/fw/invierno3.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$940</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText3}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="S">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Blanco</mat-option>
                            <mat-option value="option3">Rosado</mat-option>
                            <mat-option value="option3">Marrón</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Pulover Venice</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/fw/invierno4.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$1699</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText4}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value=" Talle único (M)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Rosado</mat-option>
                            <mat-option value="option3">Lila</mat-option>
                            <mat-option value="option3" disabled>Beige</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Pantalón Olivia</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/fw/invierno5.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$1790</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText5}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="36">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Mostaza</mat-option>
                            <mat-option value="option3">Bordó</mat-option>
                            <mat-option value="option3">Gris</mat-option>
                            <mat-option value="option3">Negro</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Pulover Lula</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/fw/invierno6.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$1690</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText6}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="Talle único (L)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Rosado</mat-option>
                            <mat-option value="option1" disabled>Blanco</mat-option>
                            <mat-option value="option1">Negro</mat-option>
                            <mat-option value="option1">Celeste</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Pulover Lula</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/fw/invierno6.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$1690</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText7}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="Talle único (L)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Rosado</mat-option>
                            <mat-option value="option1" disabled>Blanco</mat-option>
                            <mat-option value="option1">Negro</mat-option>
                            <mat-option value="option1">Celeste</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Pulover Lula</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/fw/invierno6.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$1690</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText8}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="Talle único (L)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Rosado</mat-option>
                            <mat-option value="option1" disabled>Blanco</mat-option>
                            <mat-option value="option1">Negro</mat-option>
                            <mat-option value="option1">Celeste</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Pulover Lula</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/fw/invierno6.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$1690</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText9}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="Talle único (L)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Rosado</mat-option>
                            <mat-option value="option1" disabled>Blanco</mat-option>
                            <mat-option value="option1">Negro</mat-option>
                            <mat-option value="option1">Celeste</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
        </div>
    </div>
</div>
