<div class="bg">
    <!--cards-->
    <div class="card-info">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Short Jasmine</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano1.jfif">
                    <mat-card-subtitle>
                        <h4>$2690</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="S">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Beige</mat-option>
                            <mat-option value="option2" disabled>Rosado</mat-option>
                            <mat-option value="option3">Azul</mat-option>
                            <mat-option value="option3">Terracota</mat-option>
                            <mat-option value="option3">Verde</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Vest Lory</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano3.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$1900</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText2}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="S">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Lila</mat-option>
                            <mat-option value="option3">Marrón</mat-option>
                            <mat-option value="option3">Blanco</mat-option>
                            <mat-option value="option3" disabled>Verde</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Vest Mary</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano2.png" height="350px">
                    <mat-card-subtitle>
                        <h4>$1900</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText3}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="S">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Beige</mat-option>
                            <mat-option value="option3">Celeste</mat-option>
                            <mat-option value="option3">Negro</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Pollera Liz</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano4.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$2590</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText4}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="34">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Celeste</mat-option>
                            <mat-option value="option3">Azul</mat-option>
                            <mat-option value="option3" disabled>Blanco</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Mini Mery</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano5.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$2800</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText5}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="38">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Azul</mat-option>
                            <mat-option value="option3">Bordó</mat-option>
                            <mat-option value="option3">Blanco</mat-option>
                            <mat-option value="option3">Negro</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Vestido Vanesa</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano6.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$3600</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText6}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="Talle único (S)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Rosado</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Pollera Sophie</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano7.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$2800</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText7}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="Talle único (38)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Rojo</mat-option>
                            <mat-option value="option1">Gris</mat-option>
                            <mat-option value="option1">Violeta</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Vest Kira</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano8.png" height="350px">
                    <mat-card-subtitle>
                        <h4>$1900</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText8}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="Talle único (S)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Bordó</mat-option>
                            <mat-option value="option1">Blanco</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Vestido Emma</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano9.png" height="350px">
                    <mat-card-subtitle>
                        <h4>$3600</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText9}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="S">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Rojo</mat-option>
                            <mat-option value="option1">Gris</mat-option>
                            <mat-option value="option1" disabled>Violeta</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Vestido Valery</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano10.png" height="350px">
                    <mat-card-subtitle>
                        <h4>$3290</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText10}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="Talle único (38)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Rosado</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Vest Amelia</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano11.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$1900</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText11}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="S">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Blanco</mat-option>
                            <mat-option value="option1">Negro</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Vestido Evelyn</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano12.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$3490</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText12}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="Talle único (M)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Amariilo</mat-option>
                            <mat-option value="option1" disabled>Rosa</mat-option>
                            <mat-option value="option1" disabled>Celeste</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Remera Inna</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano13.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$1900</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText13}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="S)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1" disabled>Blanco</mat-option>
                            <mat-option value="option1">Negro</mat-option>
                            <mat-option value="option1">Gris</mat-option>
                            <mat-option value="option1">Rosa</mat-option>
                            <mat-option value="option1">Marrón</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Short Jade</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano14.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$3190</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText14}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="34">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Negro</mat-option>
                            <mat-option value="option1">Celeste</mat-option>
                            <mat-option value="option1">Azul</mat-option>
                            <mat-option value="option1">Nevado</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Mini Lisa</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano15.png" height="350px">
                    <mat-card-subtitle>
                        <h4>$3300</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText15}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="Talle único (36)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Terracota</mat-option>
                            <mat-option value="option1">Rosado</mat-option>
                            <mat-option value="option1" disabled>Beige</mat-option>
                            <mat-option value="option1">Rosado</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
        </div>
    </div>
</div>