.bg {
	background-color: black;
}
/* navbar */
.my-nav {
	position: fixed;
	z-index: 10;
	width: 100%;
}

.dropdown-item {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-brand {
	align-items: right;
}
