<!--navbar
<div class="bg">
    <header id="header">
        <nav class=" my-nav navbar fixed-top navbar-dark navbar-expand-lg bg-dark ">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#" routerLink="inicio">INICIO<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                TIENDA
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" routerLink="verano">Verano</a></li>
                                <li><a class="dropdown-item" href="#" routerLink="invierno">Invierno</a></li>
                                <li><a class="dropdown-item" href="#" routerLink="conjuntos">Conjuntos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                INFORMACION
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" routerLink="como-comprar">Cómo Comprar</a></li>
                                <li><a class="dropdown-item" href="#" routerLink="contacto">Contacto</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <a class="navbar-brand" href="#" routerLink="inicio"><img src="../../../assets/img/carousel/logo.png" 
                    width="40px" height="40px" alt=""></a>
            </div>
        </nav>
    </header>
</div>
-->
<header id="header">
    <div id="nav">
        <ul class="nav-menu  unstyled">
            <li><a href="#" routerLink="inicio" class="three-d active">
                    Home
                    <span class="three-d-box"><span class="front">INICIO</span><span class="back">INICIO</span></span>
                </a></li>
            <li><a href="#" routerLink="invierno" class="three-d">
                    Invierno
                    <span class="three-d-box"><span class="front">Invierno</span><span
                            class="back">Invierno</span></span>
                </a></li>
            <li><a href="#" routerLink="verano" class="three-d">
                    Verano
                    <span class="three-d-box"><span class="front">Verano</span><span class="back">Verano</span></span>
                </a></li>
            <li><a href="#" routerLink="conjuntos" class="three-d">
                    Conjuntos
                    <span class="three-d-box"><span class="front">Conjuntos</span><span
                            class="back">Conjuntos</span></span>
                </a></li>
            <li><a href="#" routerLink="como-comprar" class="three-d">
                    Como comprar
                    <span class="three-d-box"><span class="front">Como comprar</span><span class="back">Como
                            comprar</span></span>
                </a></li>
            <li><a href="#" routerLink="contacto" class="three-d">
                    Contacto
                    <span class="three-d-box"><span class="front">Contacto</span><span
                            class="back">Contacto</span></span>
                </a></li>
            <li><a href="#" class="three-d">
                    Newsletter
                    <span class="three-d-box"><span class="front">Newsletter</span><span
                            class="back">Newsletter</span></span>
                </a></li>
        </ul>
    </div>
</header>