/* Imagenes */
html,
body {
    height: 100%
}

body {
    display: grid;
    place-items: center;
}

.image {
    border: 2px solid #fff;
    width: 100%;
    height: 184px;
    overflow: hidden
}

.image img {
    width: 100%;
    height: 300;
    transition: all 2s ease-in-out
}

.image:hover img {
    transform: scale(2, 2);
    cursor: pointer
}
/* Testimonios */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);

body {
    font-family: "Roboto", sans-serif;
    background: #f6e9e6;
    height: 100vh;
    position: absolute;
}

.body {
    padding-top: 30px;
    padding-bottom: 20px;
}

.primary-color {
    color: #e6bcb5;
}

.testimonial-view {
    max-width: 900px;
    padding: 30px 15px;
    margin: 0 auto 20px;
    border-radius: 3px;
}

.testimonial-view.top-margin .testimonial-block_user {
    margin-top: 40px;
}

@media (min-width: 900px) {
    .testimonial-view.top-margin .testimonial-block_user {
        margin-top: 60px;
    }
}

.testimonial-view img.left-quote {
    opacity: 0.01;
    width: 20%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    left: 40%;
}

@media (min-width: 900px) {
    .testimonial-view .carousel-control-prev {
        left: -50px;
    }

    .testimonial-view .carousel-control-next {
        right: -50px;
    }

    .testimonial-view .carousel-control-next-icon,
    .testimonial-view .carousel-control-prev-icon {
        width: 40px;
        height: 40px;
    }
}

.section-header,
.testimonial-block_user_info_name {
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}

.section-header:after,
.testimonial-block_user_info_name:after {
    content: "";
    height: 4px;
    width: 100px;
    background-color: #e6bcb5;
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
}

.testimonial-block {
    padding: 15px;
    margin: 50px;
    background: #fff;
    color: #333;
    -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
    border: #e6bcb5 solid 2px;
}

@media (min-width: 900px) {
    .testimonial-block {
        padding: 20px;
        margin: 30px;
    }
}

.testimonial-block .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-items: center;
}

.testimonial-block .testimonial-block_user {
    margin-bottom: 30px;
    text-align: center;
}

.testimonial-block .testimonial-block_user .testimonial-block_user_image {
    position: relative;
    margin: 0 10px 20px 10px;
}

.testimonial-block .testimonial-block_user .testimonial-block_user_image img {
    height: 170px;
    width: 170px;
    border: 7px solid #e6bcb5;
    border-radius: 170px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.testimonial-block .testimonial-block_user .testimonial-block_user_info .testimonial-block_user_info_name {
    margin-bottom: 10px;
}

.testimonial-block .testimonial-block_user .testimonial-block_user_info .testimonial-block_user_info_name:after {
    width: 50px;
    left: calc(50% - 25px);
}

.testimonial-block .testimonial-block_content {
    text-align: center;
    font-size: 18px;
}

.top-margin .testimonial-block .row {
    place-items: normal;
}