<div class="jumbotron">
    <div class="container">
      <h2 class="headline">¿Qué servicio ofrecemos?</h2>
      <p>Aquí puedes hechar un vistazo a todo lo que <i>Serins</i> tiene para ofrecerte</p>
    </div>
</div>
<!-- tabla -->
<section>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Redes de datos</th>
            <th>Internet satelital</th>
            <th>Cámaras de seguridad</th>
            <th>Instalación de cableado estructurado</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td>Diseño de redes de datos</td>
            <td>Conexión estándar</td>
            <td>Venta y configuración de equipamentos</td>
            <td>Certificación de redes</td>
          </tr>
          <tr>
            <td>Mantenimiento</td>
            <td>Infraestructura</td>
            <td>Instalación de equipamentos</td>
            <td>Mantenimiento de cableado</td>
          </tr>
          <tr>
            <td>Configuración de equipamentos</td>
            <td>Internet banda Ka</td>
            <td>Soporte y mantenimiento</td>
            <td>Soporte y mantenimiento</td>
          </tr>
        </tbody>
      </table>
    </div>
</section>
<!-- faqs -->
<div class="container">
  <header class="text-center py-5 mb-4">
      <div class="container">
        <h1 class="title">FAQs</h1>
      </div>
  </header>
  <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                ¿Cómo sé qué paquete es mejor para mi empresa?
              </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p class="content">
                  Gracias a nuestro asesoramiento te brindamos la ayuda que necesites, te invitamos a visitar la sección <i>Contacto</i>.
                </p>
              </div>
          </div>
      </div>
      <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                ¿Cómo aseguro la calidad del servicio y productos?
              </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p class="content">
                  Cada producto contiene una garantía de 12 meses que lo resguarda ante cualquier incoveniente.
                </p>
              </div>
          </div>
      </div>
      <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                ¿Cada cuánto es recomendable hacer mantenimiento?
              </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p class="content">
                  Dependiendo de cada empresa y entidad, varía en cuanto a la cantidad y función de cada componente por lo que recomendamos realizar un chequeo diario
                  si es necesario. Desde <i>Serins</i> ofrecemos un soporte post-venta gratis donde se verificará cada instalación pasados los 4 meses.        
                </p>
              </div>
          </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              ¿Cuáles son los métodos de pago?
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Contamos con los siguientes metodos de pago:</p>
                <ul>
                  <li>Transferencia bancaria</li>
                  <li>Trajetas de crédito y débito hasta 12 cuotas</li>
                  <li>Mercado Pago</li>
                  <li>Paypal</li>
                  <li>Ualá</li>
                </ul>
            </div>
        </div>
    </div>
  </div>
</div>
