<!--div-->
<div class="bg">
    <!--parallax 1-->
    <div class="parallax1"></div>
    <!--info-->
    <div class="container text-center">
        <div class="row mt-5 mb-3 me-3 align-items-end">
            <div class="col-3">
                <mat-icon class="icon">payments</mat-icon>
            </div>
            <div class="col-3">
                <mat-icon class="icon">task_alt</mat-icon>
            </div>
            <div class="col-3">
                <mat-icon class="icon">local_shipping</mat-icon>
            </div>
            <div class="col-3">
                <mat-icon class="icon">today</mat-icon>
            </div>
        </div>
    </div> 
    <div class="container text-center">
        <div class="row mb-5 align-items-center">
            <div class="col-3">
                <p class="text-cont"> Contamos con múltiples medios de pago, transferencia bancaria, 
                    mercado pago, efectivo, tarjetas y muchos más,
                    consulta tu método preferido al finalizar tu compra
                </p>
            </div>
            <div class="col-3">
                <p class="text-cont"> Una vez finalizado el pago nos comunicaremos para confirmar método
                    de envío
                </p>
            </div>
            <div class="col-3">
                <p class="text-cont">Con envíos low-cost a todo el país y por cadetería/mensajería dentro
                    de la provincia
                </p>
            </div>
            <div class="col-3">
                <p class="text-cont">Entrega en tiempo y forma para que puedas aprovechar las prendas al máximo
                    las prendas.
                    Devoluciones sólo en caso de fallas de fábrica.
                </p>
            </div>
        </div>
    </div>
    <!--parallax 2-->
    <div class="parallax2"></div>
    <!--cards-->
    <div class="card-info">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Short Jasmine</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano1.jfif">
                    <mat-card-subtitle>
                        <h4>$2690</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="S">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Beige</mat-option>
                            <mat-option value="option2" disabled>Rosado</mat-option>
                            <mat-option value="option3">Azul</mat-option>
                            <mat-option value="option3">Terracota</mat-option>
                            <mat-option value="option3">Verde</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Vest Lory</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano3.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$1900</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText2}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="S">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Lila</mat-option>
                            <mat-option value="option3">Marrón</mat-option>
                            <mat-option value="option3">Blanco</mat-option>
                            <mat-option value="option3" disabled>Verde</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Vest Mary</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano2.png" height="350px">
                    <mat-card-subtitle>
                        <h4>$1900</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText3}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="S">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Beige</mat-option>
                            <mat-option value="option3">Celeste</mat-option>
                            <mat-option value="option3">Negro</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Pollera Liz</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano4.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$2590</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText4}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="34">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Celeste</mat-option>
                            <mat-option value="option3">Azul</mat-option>
                            <mat-option value="option3" disabled>Blanco</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Mini Mery</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano5.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$2800</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText5}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="38">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Azul</mat-option>
                            <mat-option value="option3">Bordó</mat-option>
                            <mat-option value="option3">Blanco</mat-option>
                            <mat-option value="option3">Negro</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Vestido Vanesa</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/ss/verano6.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$3600</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText6}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="Talle único (S)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Rosado</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-6">
            <section class="button">
                <a mat-raised-button href="#" routerLink="verano">Ver más</a>
            </section>
        </div>
    </div>
    <!--parallax 2-->
    <div class="parallax3"></div>
    <!--cards-->
    <div class="card-info">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Sweater Lara</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/fw/invierno1.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$1200</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText7}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="Talle único (M)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Negro</mat-option>
                            <mat-option value="option3">Rosa</mat-option>
                            <mat-option value="option3">Marrón</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Jardinero Molly</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/fw/invierno2.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$1490</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText8}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="38">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option3">Negro</mat-option>
                            <mat-option value="option3">Blanco</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Remera Nelly</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/fw/invierno3.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$940</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText9}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="S">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Blanco</mat-option>
                            <mat-option value="option3">Rosado</mat-option>
                            <mat-option value="option3">Marrón</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Pulover Venice</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/fw/invierno4.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$1699</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText10}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value=" Talle único (M)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Rosado</mat-option>
                            <mat-option value="option3">Lila</mat-option>
                            <mat-option value="option3" disabled>Beige</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Pantalón Olivia</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/fw/invierno5.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$1790</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText11}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="36">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Mostaza</mat-option>
                            <mat-option value="option3">Bordó</mat-option>
                            <mat-option value="option3">Gris</mat-option>
                            <mat-option value="option3">Negro</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Pulover Lula</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/ropa/fw/invierno6.jfif" height="350px">
                    <mat-card-subtitle>
                        <h4>$1690</h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{longText12}}
                    </mat-card-content>
                    <!--talle-->
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ingresa tu talle</mat-label>
                            <input matInput placeholder="Talle" value="Talle único (L)">
                        </mat-form-field>
                    </form>
                    <!--color-->
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                            <mat-option value="option1">Rosado</mat-option>
                            <mat-option value="option1" disabled>Blanco</mat-option>
                            <mat-option value="option1">Negro</mat-option>
                            <mat-option value="option1">Celeste</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-6">
            <section class="button">
                <a mat-raised-button href="#" routerLink="invierno">Ver más</a>
            </section>
        </div>
    </div>
</div>