<!--div-->
<div class="bg">
    <!--parallax 1-->
    <div class="parallax1"></div>
    <!--info-->
    <div class="container text-center">
        <div class="row mt-5 mb-3 me-3 align-items-end">
            <div class="col-3">
                <mat-icon class="icon">payments</mat-icon>
            </div>
            <div class="col-3">
                <mat-icon class="icon">task_alt</mat-icon>
            </div>
            <div class="col-3">
                <mat-icon class="icon">local_shipping</mat-icon>
            </div>
            <div class="col-3">
                <mat-icon class="icon">today</mat-icon>
            </div>
        </div>
    </div> 
    <div class="container text-center">
        <div class="row mb-5 align-items-center">
            <div class="col-3">
                <p class="text-cont"> Contamos con múltiples medios de pago, transferencia bancaria, 
                    mercado pago, efectivo, tarjetas y muchos más,
                    consulta tu método preferido al finalizar tu compra
                </p>
            </div>
            <div class="col-3">
                <p class="text-cont"> Una vez finalizado el pago nos comunicaremos para confirmar método
                    de envío
                </p>
            </div>
            <div class="col-3">
                <p class="text-cont">Con envíos low-cost a todo el país y por cadetería/mensajería dentro
                    de la provincia
                </p>
            </div>
            <div class="col-3">
                <p class="text-cont">Entrega en tiempo y forma para que puedas aprovechar las prendas al máximo
                    las prendas.
                    Devoluciones sólo en caso de fallas de fábrica.
                </p>
            </div>
        </div>
    </div>
    <!-- images -->
    <section class="separador">
        <div class="container text-center">
            <div class="row mb-4 align-items-center">
                <div class="col-sm-4">
                    <div class="content-box">
                        <div class="content-box-img">
                            <a href="#" routerLink="conjuntos">
                                <img src="../../../assets/img/carousel/conj.png" alt="" width="400" height="400">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="content-box">
                        <div class="content-box-img">
                            <a href="#">
                                <img src="../../../assets/img/carousel/of2.gif" alt="" width="400" height="400">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="content-box">
                        <div class="content-box-img">
                            <a href="#" routerLink="contacto">
                                <img src="../../../assets/img/carousel/conj2.png" alt="" width="400" height="400">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--parallax 2-->
    <div class="parallax2"></div>
    <!--cards-->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                <mat-card-subtitle>
                                    $1990
                                </mat-card-subtitle>
                            </span>
                            <small class="text-muted">Verano</small>
                            <a href="#" class="product-name">
                                <mat-card-title>Short Jasmine</mat-card-title></a>
                            <div class="small m-t-xs">
                                <mat-card-content>
                                    {{longText}}
                                </mat-card-content>
                            </div>
                            <div class="m-t text-righ">
                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                <mat-card-subtitle>
                                    $10
                                </mat-card-subtitle>
                            </span>
                            <small class="text-muted">Category</small>
                            <a href="#" class="product-name">
                                <mat-card-title>Short Jasmine</mat-card-title></a>
                            <div class="small m-t-xs">
                                <mat-card-content>
                                    {{longText}}
                                </mat-card-content>
                            </div>
                            <div class="m-t text-righ">
                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                <mat-card-subtitle>
                                    $10
                                </mat-card-subtitle>
                            </span>
                            <small class="text-muted">Category</small>
                            <a href="#" class="product-name">
                                <mat-card-title>Short Jasmine</mat-card-title></a>
                            <div class="small m-t-xs">
                                <mat-card-content>
                                    {{longText}}
                                </mat-card-content>
                            </div>
                            <div class="m-t text-righ">
                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                <mat-card-subtitle>
                                    $10
                                </mat-card-subtitle>
                            </span>
                            <small class="text-muted">Category</small>
                            <a href="#" class="product-name">
                                <mat-card-title>Short Jasmine</mat-card-title></a>
                            <div class="small m-t-xs">
                                <mat-card-content>
                                    {{longText}}
                                </mat-card-content>
                            </div>
                            <div class="m-t text-righ">
                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-6">
            <section class="button">
                <a mat-raised-button href="#" routerLink="verano">Ver más</a>
            </section>
        </div>
    </div>
    <!--parallax 2-->
    <div class="parallax3"></div>
    <!--cards-->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                <mat-card-subtitle>
                                    $10
                                </mat-card-subtitle>
                            </span>
                            <small class="text-muted">Category</small>
                            <a href="#" class="product-name">
                                <mat-card-title>Short Jasmine</mat-card-title></a>
                            <div class="small m-t-xs">
                                <mat-card-content>
                                    {{longText}}
                                </mat-card-content>
                            </div>
                            <div class="m-t text-righ">
                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                <mat-card-subtitle>
                                    $10
                                </mat-card-subtitle>
                            </span>
                            <small class="text-muted">Category</small>
                            <a href="#" class="product-name">
                                <mat-card-title>Short Jasmine</mat-card-title></a>
                            <div class="small m-t-xs">
                                <mat-card-content>
                                    {{longText}}
                                </mat-card-content>
                            </div>
                            <div class="m-t text-righ">
                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                <mat-card-subtitle>
                                    $10
                                </mat-card-subtitle>
                            </span>
                            <small class="text-muted">Category</small>
                            <a href="#" class="product-name">
                                <mat-card-title>Short Jasmine</mat-card-title></a>
                            <div class="small m-t-xs">
                                <mat-card-content>
                                    {{longText}}
                                </mat-card-content>
                            </div>
                            <div class="m-t text-righ">
                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                <mat-card-subtitle>
                                    $10
                                </mat-card-subtitle>
                            </span>
                            <small class="text-muted">Category</small>
                            <a href="#" class="product-name">
                                <mat-card-title>Short Jasmine</mat-card-title></a>
                            <div class="small m-t-xs">
                                <mat-card-content>
                                    {{longText}}
                                </mat-card-content>
                            </div>
                            <div class="m-t text-righ">
                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                <mat-card-subtitle>
                                    $10
                                </mat-card-subtitle>
                            </span>
                            <small class="text-muted">Category</small>
                            <a href="#" class="product-name">
                                <mat-card-title>Short Jasmine</mat-card-title></a>
                            <div class="small m-t-xs">
                                <mat-card-content>
                                    {{longText}}
                                </mat-card-content>
                            </div>
                            <div class="m-t text-righ">
                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                <mat-card-subtitle>
                                    $10
                                </mat-card-subtitle>
                            </span>
                            <small class="text-muted">Category</small>
                            <a href="#" class="product-name">
                                <mat-card-title>Short Jasmine</mat-card-title></a>
                            <div class="small m-t-xs">
                                <mat-card-content>
                                    {{longText}}
                                </mat-card-content>
                            </div>
                            <div class="m-t text-righ">
                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                <mat-card-subtitle>
                                    $10
                                </mat-card-subtitle>
                            </span>
                            <small class="text-muted">Category</small>
                            <a href="#" class="product-name">
                                <mat-card-title>Short Jasmine</mat-card-title></a>
                            <div class="small m-t-xs">
                                <mat-card-content>
                                    {{longText}}
                                </mat-card-content>
                            </div>
                            <div class="m-t text-righ">
                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                <mat-card-subtitle>
                                    $10
                                </mat-card-subtitle>
                            </span>
                            <small class="text-muted">Category</small>
                            <a href="#" class="product-name">
                                <mat-card-title>Short Jasmine</mat-card-title></a>
                            <div class="small m-t-xs">
                                <mat-card-content>
                                    {{longText}}
                                </mat-card-content>
                            </div>
                            <div class="m-t text-righ">
                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-6">
            <section class="button">
                <a mat-raised-button href="#" routerLink="invierno">Ver más</a>
            </section>
        </div>
    </div>
</div>