/* form */
@import url(https://fonts.googleapis.com/css?family=Teko:400,700);

body {
	font-family: 'Teko', sans-serif
}
/*form styles*/
#contactForm {
	width: 400px;
	margin-top: 20px;
	text-align: center;
	position: relative;
    margin-bottom: 30px;
}
#contactForm mat-form-field {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#contactForm mat-form-field:not(:first-of-type) {
	display: none;
}
/*inputs*/
#contactForm input{
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#contactForm .action-button {
	width: 100px;
	background: #edd6c9;
	font-weight: bold;
	color: black;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#contactForm .action-button:hover, #contactForm .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #edd6c9;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

button {
    font-size: 15px;
    font-family: montserrat;
    background-color: #edd6c9;
    color: black;
}


