<div class="container">
    <header class="text-center py-5 mb-4">
        <div class="container">
          <h1 class="title">Contáctanos</h1>
        </div>
    </header>
	<div class="row-fluid">
        <div class="col-md-7">
            <div class="span8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.464486286312!2d-68.13929828489528!3d-38.959060708209826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a3336aa90df5f%3A0x4127650bf58575f0!2sJuan%20Juli%C3%A1n%20Lastra%205600%2C%20Q8300JTJ%20Neuqu%C3%A9n!5e0!3m2!1ses!2sar!4v1650736939377!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-md-5">
           <!-- form -->
            <form id="formulario-m">
                <!-- campos -->
                <fieldset>
                    <h2 class="fs-title">Ingresa tus datos</h2>
                    <input type="text" name="pass" placeholder="Nombre y apellido" />
                    <input type="text" name="email" placeholder="Email" />
                    <input type="number" name="pass" placeholder="Número telefónico" />
                    <select class="form-select form-select-lg mb-3" aria-label="Default select example">
                        <option selected>Motivo de su consulta</option>
                        <option value="1">Asesoramiento</option>
                        <option value="2">Soporte técnico</option>
                        <option value="3">Instalación de redes informáticas</option>
                        <option value="4">Cámaras de seguridad</option>
                        <option value="5">Redes de datos</option>
                        <option value="6">Consulta presupuesto</option>
                    </select>
                    <h3 class="fs-subtitle">Ingrese su consulta</h3>
                    <textarea  class="form-control" id="description" placeholder="Escriba aquí"></textarea>
                    <input type="button" name="next" class="next action-button" value="Enviar" />
                </fieldset>
            </form>  
        </div>
    </div>
</div>
<!-- accordion -->
<div class="container">
    <header class="text-center py-5 mb-4">
        <div class="container">
          <h1 class="title">Otras sedes</h1>
        </div>
    </header>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Latinoamérica
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li class="city">Buenos Aires, Argentina</li>
                        <li class="city">Neuquén, Argentina</li>
                        <li class="city">Santiago, Chile</li>
                        <li class="city">Ciudad de México, México</li>
                        <li class="city">Montevideo, Uruguay</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Estados Unidos
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li class="city">Atlanta, Georgia</li>
                        <li class="city">New York City, New York</li>
                        <li class="city">Lakeland, Florida</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Europa
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li class="city">Zürich, Suiza</li>
                        <li class="city">Londres, Inglaterra</li>
                        <li class="city">Münich, Alemania</li>
                        <li class="city">Manila, Filipinas</li>
                        <li class="city">Jakarta. Indonesia</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
