@import url(https://fonts.googleapis.com/css?family=Oleo+Script:400,700);
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
header{
    background-color: #e8dbd3;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 20px;
}
.title {
    font: 100 3em/1 'Oleo Script', cursive;
    color: #75474a !important;
    font-size: 30px;
    text-align: center;
}
iframe {
    margin: 20px;
}
.whatsapp {
    text-align: center;
    font-size: 20px;
    margin-left: 90px;
    margin-top: 10px;
}
.facebook {
    text-align: center;
    font-size: 20px;
    margin-left: 90px;
    margin-top: 10px;
}
.email {
    text-align: center;
    font-size: 20px;
    margin-right: 90px;
    margin-top: 10px;
}
.ofice {
    text-align: center;
    font-size: 20px;
    margin-right: 100px;
    margin-top: 10px;
}
i {
    padding: 5px;
}
a {
    margin: 10px;
    text-decoration: none;
    color: #000;
}

/* form */
@import url(https://fonts.googleapis.com/css?family=Teko:400,700);

html {
	height: 100%;
}

body {
	font-family: 'Teko', sans-serif
}
/*form styles*/
#formulario-m {
	width: 400px;
	margin-top: 20px;
	text-align: center;
	position: relative;
    margin-bottom: 30px;
}
#formulario-m fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#formulario-m fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#formulario-m input, #formulario-m textarea, #formulario-m select {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#formulario-m .action-button {
	width: 100px;
	background: #edd6c9;
	font-weight: bold;
	color: black;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#formulario-m .action-button:hover, #forumlario.m .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #edd6c9;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

/* accordion */
.accordion {
    margin-right: 80px;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 20px;
}
button {
    font-size: 15px;
    font-family: montserrat;
    background-color: #edd6c9;
    color: black;
}
.accordion-header {
    background-color: #e8dbd3
}
.city {
    font-size: 15px;
    font-family: montserrat;
}

