<!-- footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h6>Visítanos en: </h6>
        <p class="text-justify">JJ Lastra 5600, Neuquén, Neuquén, Argentina</p>
      </div>

      <div class="col-xs-6 col-md-5">
        <ul class="footer-links">
          <li><a href="https://goo.gl/maps/hKTSidawbmA5gJMh8">
            <img class="img-map" src="https://www.google.com/maps/vt/data=AnbUy1eX4QWmVFmHqg8BJhEGeSpNZePW2iWEdH0A1Ou9_5BS95za0NSaSXZpG5Va6PgTGLS4FDrd8M4lT7x7YMT9BfIgNJmgKXk1H1QG-iFjD5nFy0j5j6FXM_mSojF0LsQxRwoMdg6hjOsUxU41mnEsVGo-GKFqCdUXO4bihYuU8aE0ZBu0DK2WNNisO9d1XMLsm29R0ILRpSFSIWB0STzZsPZuOM1q-OuxSA-SjzTN7qU4WZyrjv0xv8dK0-C0TrJCfUOvuX_DC8TzUKPi4HEbYiK3f88aFTbF" width="300" height="150" alt="mapa">
            </a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Atajos</h6>
        <ul class="footer-links">
          <li><a href="#" routerLink="inicio">Inicio</a></li>
          <li><a href="#" routerLink="equipo">Equipo</a></li>
          <li><a href="#" routerLink="servicios">Servicios</a></li>
          <li><a href="#" routerLink="casos-exito">Casos de Exito</a></li>
          <li><a href="#" routerLink="contacto">Contacto</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Serins &copy; 2012
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="gith" href="https://github.com/"><i class= "fa fa-github"></i></a></li>
          <li><a class="trello" href="https://trello.com/maiaaedo/boards"><i class="fa fa-trello"></i></a></li>
          <li><a class="boots" href="https://getbootstrap.com"><i class="fa fa-bold"></i></a></li>
          <li><a class="campus" href="http://www.cet30.edu.ar/"><i class="fa fa-copyright"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>
